.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h1 {
  margin: 0;
  font-size: 22px;
  color: var(--light-gray);

}

.logo p {
  font-size: 13px;
  color: var(--gray);
  font-style:italic;
  margin-left: 3px;
  color: var(--accent);
  margin-top: 10px;
}