.menu-list {
  display: grid;
  grid-template-columns: 1fr; /* MOBILE FIRST */
  gap: var(--space-md);
  padding: var(--space-md);
}

/* TABLET */
@media (min-width: 600px) {
  .menu-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* DESKTOP */
@media (min-width: 900px) {
  .menu-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}